* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Removing the blue highlight of button on mobile */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100vw;
    background-color: #000;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 50px;
}

.colorsContainer {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(2, 3fr);
    z-index: 1;
    position: absolute;
}

.colorBtn {
    width: 170px;
    height: 170px;
    cursor: pointer;
    box-shadow: 0 0 15px 0 #ffffff;
    border: #000 3px solid;
}

#green {

    background-color: rgb(5, 169, 5);
    border-top-left-radius: 100%;

}

#red {

    background-color: crimson;
    border-start-end-radius: 100%;

}

#blue {

    background-color: rgb(3, 3, 105);
    border-end-start-radius: 100%;

}

#yellow {
    background-color: rgb(228, 228, 16);
    border-bottom-right-radius: 100%;

}

#btnLoad {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    z-index: 2;
    font: 2.2em sans-serif;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: #838383 2px solid;
}

#output {
    width: 500px;
    height: 90px;
    display: block;
    position: absolute;
    bottom: 25px;
    color: #fff;
    font-size: 2.5rem;
}

#level {
    position: absolute;
    bottom: 35px;
    left: 25px;
    color: #fff;
    font-size: 2rem;

}

#highestLevel {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #fff;
    font-size: 2rem;
}


@media screen and (max-width: 768px) {
    h1 {
        width: 100px;
        font-size: 2.2rem;
    }

    #output {
        width: 200px;
        height: 100px;
        font-size: 2rem;
    }

    #level,
    #highestLevel {
        font-size: 1.5rem;
    }
}